= render 'layouts/partials/snippets/doctype_declaration'

%head
  = render 'layouts/custom/head', tynt: (defined?(tynt) ? tynt : true), responsive: false, third_party: false, include_js: true, legacy_bl: false, app_core: false, default_title: true
  = stylesheet_link_tag 'styleguide', :media => "all"

%body

  .sgPage.js-wrapper#page
    .sgNav
      .o-wrapper
        %a.sgLogo{href: 'http://'}
        .o-list-inline
          - @app.primary_nav_items.each do |item|
            %a.o-list-inline__item.sgNav__item{ href: "#{item[:slug]}" }<
              = item[:name]

    .sgNav--secondary
      .o-wrapper
        .o-block__relative
          = yield :secondary

    .o-wrapper.u-margin-top-small
      .o-layout
        - if @app.left_nav_items.present?
          %div.o-layout__item{class: 'u-1/4'}
            = ui_component('navigation/left', properties: @app.left_nav_items)

        %div.o-layout__item{class: 'u-3/4'}
          .sgPage__main-content#js-main-content
            = yield

    %script#tmpl-preloader{ type: 'text/html' }
      = ui_component('preloader')

  .js-config.is-hidden
    = render 'layouts/partials/snippets/footer_js', third_party: false
    = yield :scripts

    = javascript_include_tag 'prism'

  = render 'layouts/partials/snippets/pointer_cover'
